@media (max-width: 700px) {
  header {
    nav {
      display: block;
      text-align: center;

      ul {
        align-items: center;
        justify-content: center;
      }
    }
  }

  .grid {
    .grid-item {
      width: 100%;
    }
  }

  .hero-inner {
    height: 500px;
  }
}

@media (max-width: 600px) {
  .container {
    .text-content {
      .float-left {
        float: none;
        margin: 20px auto;
      }
    }
  }
}
